<a href="https://colab.research.google.com/github/sisterme3/Data_Science/blob/master/Assign1_IntroColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assign 1: Intro to Colab

Let's get started by uploading data files from my github repository

In [1]:
# The following script will pull datasets from my github repository
# and copy them into your notebook so that you can analyze the data.
! git clone https://github.com/acreeg/dsc1010-datasets.git

Cloning into 'dsc1010-datasets'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 8 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (8/8), done.

### A view of two datasets: School Profile and School Acheivement

In [0]:
#import pandas, the python package for data analytics
import pandas as pd

In [0]:
# Read the data_2015_school_profile.xlsx data file into a pandas dataframe
# Name the dataframe SchoolProfile 
filename = 'dsc1010-datasets/data_2015_school_profile.xlsx'
SchoolProfile = pd.read_excel(filename)

In [0]:
# Read the data_2015_school_achievement.xlsx data file into a pandas dataframe 
# Name the new dataframe SchoolAchieve
# Your work here:
filename = 'dsc1010-datasets/data_2015_school_achievement.xlsx'
SchoolAchieve = pd.read_excel(filename)

In [6]:
# View the first 7 rows of the SchoolProfile dataframe
SchoolProfile.head(7)

   YEAR  DISTRICT  ... ECONOMICALLY_DISADVANTAGED ECONOMICALLY_DISADVANTAGED_PCT
0  2015         0  ...                   572461.0                      57.901487
1  2015        10  ...                     3890.0                      58.505038
2  2015        10  ...                      465.0                      43.950851
3  2015        10  ...                        NaN                            NaN
4  2015        10  ...                      182.0                      57.413249
5  2015        10  ...                      109.0                      89.344262
6  2015        10  ...                      421.0                      74.777975

[7 rows x 44 columns]

Description: The SchoolProfile dataframe contains demographic information about the public schools across Tennessee. This includes information related to nationalities, gender, student disabilities, and economic disadvantage.

In [10]:
# View a sample of 7 rows of the SchoolAchieve dataframe
# Your work here:
SchoolAchieve.sample(7)

      SCHOOL_YEAR  DISTRICT_ID  ... ACT_1yr_Reading  ACT_1yr_science
1157         2015          750  ...             NaN              NaN
73           2015           50  ...             NaN              NaN
136          2015           90  ...             NaN              NaN
1119         2015          710  ...             NaN              NaN
82           2015           60  ...             NaN              NaN
1190         2015          750  ...             NaN              NaN
229          2015          180  ...             NaN              NaN

[7 rows x 27 columns]

Give a brief description of the SchoolAchieve dataframe.

The SchoolAchieve Dataframe contains achievement information about various school districts across Tennessee that includes Math, Reading, Social Studies, and Science grades, ACT Scores as well as the trend of this grades within 2015.

In [12]:
# Determine the number of rows and columns (or shape) of the SchoolProfile dataframe
SchoolProfile.shape

(1958, 44)

In [13]:
# Determine the number of rows and columns (or shape) of the SchoolAchieve dataframe
# Your work here:
SchoolAchieve.shape

(1811, 27)

The shape of SchoolAchieve is 1811, 27.

In [0]:
# Create a dataframe from SchoolProfile that includes only high schools
# Call the new dataframe HighSchoolProfile
# View the first 10 rows of the new dataframe
HighSchoolProfile = SchoolProfile[SchoolProfile['GRADES_SERVED']== 'Grades 9-12']
HighSchoolProfile.head(10)

In [15]:
# Create a dataframe from SchoolAchieve that includes only schools where
# ACT_3yr_composite >= 0 
# NOTICE: The number 0 should NOT be in quotations!!!
# Call the new dataframe HighSchoolAchieve
# View the first 10 rows of the new dataframe
# Your work here:
HighSchoolAchieve = SchoolAchieve[SchoolAchieve['ACT_3yr_composite']>=0]
HighSchoolAchieve.head(10)

    SCHOOL_YEAR  DISTRICT_ID  ... ACT_1yr_Reading  ACT_1yr_science
2          2015           10  ...            20.1             20.0
10         2015           12  ...            23.6             22.9
14         2015           20  ...            17.8             18.3
21         2015           30  ...            18.1             19.5
24         2015           40  ...            19.4             19.2
35         2015           50  ...            21.1             20.4
37         2015           10  ...            20.2             19.9
53         2015           20  ...            19.2             19.6
54         2015           20  ...            18.8             19.0
59         2015           30  ...            17.7             18.9

[10 rows x 27 columns]

### In the previous exercise, why does it make sense that the schools identified would be (at least for the most part) high schools?

It makes sense because several of these high school students are preparing for college, therefore they would be taking the ACT at a higher rate than middle or elementary and the composite would be higher as well.