<a href="https://colab.research.google.com/github/sisterme3/Data_Science/blob/master/NB1_IntroColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Notebook 1: Intro to Colab

### What is Colaboratory?
Colaboratory is a Google data science (and machine learning) tool. Itâ€™s a Jupyter notebook environment that requires no setup to use. Jupyter Notebooks are essential tools for many data scientists in industry.

In [0]:
# Notebooks have two types of cells: Code and Text
# The first two cells (above) are Text cells, 
# but this is a code cell.
# You can type comments into a Code cell by inserting a #
# whenever you would like to begin the comment
# most often at the beginning of a line.
# Comments are simply for explanation 
# ... and are not executed as code.

# But lines without # (like the following) are executed as code
print('Hello Everyone')

### Add your on message in this text cell. 
Hello Everyone
# Notice that # acts differently than in code cells

Let's get started by uploading data files from my github repository 

(GitHub is an online tool where developers, data scientists, etc. save code, data, and documents in order to make them available for their co-workers and/or 
other collaborators.)

In [0]:
# The following script will pull datasets from my github repository
# and copy them into your notebook so that you can analyze the data.
# An unbelievable amount of data is available publicly through this method.
! git clone https://github.com/acreeg/dsc1010-datasets.git

Cloning into 'dsc1010-datasets'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 8 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (8/8), done.

Let's take a look at what we have to work with.

Open the panel to the left of the main notebook. You will the following tabs:
*   Table of contents
*   Code snippets
*   Files

Click on 'Files' to see the datasets you have copied.

### A Quick Look at School Profile

In [0]:
#import pandas, the python package for data analytics
import pandas as pd

In [0]:
# Read the data file into a pandas dataframe (Spreadsheet)
filename = 'dsc1010-datasets/data_2015_school_profile.xlsx'
SchoolProfile = pd.read_excel(filename)

In [0]:
# View the first 5 rows of the new dataframe
# ... and explore it a bit.
# What does this dataset include?
SchoolProfile.head()

   YEAR  DISTRICT  ... ECONOMICALLY_DISADVANTAGED ECONOMICALLY_DISADVANTAGED_PCT
0  2015         0  ...                   572461.0                      57.901487
1  2015        10  ...                     3890.0                      58.505038
2  2015        10  ...                      465.0                      43.950851
3  2015        10  ...                        NaN                            NaN
4  2015        10  ...                      182.0                      57.413249

[5 rows x 44 columns]

## This dataset includes different school districts and variables such as demographics about students, such as ethnicity, gender, proficient in english, etc. It also is from 2015.

In [0]:
# Determine the number of rows and columns (or shape) of the dataframe
SchoolProfile.shape

(1958, 44)

In [0]:
# Explore SchoolProfile with .head(), .tail(), and .sample() or ...
# What happens if you simply type SchoolProfile?
# Your work here!
SchoolProfile

      YEAR  ...  ECONOMICALLY_DISADVANTAGED_PCT
0     2015  ...                       57.901487
1     2015  ...                       58.505038
2     2015  ...                       43.950851
3     2015  ...                             NaN
4     2015  ...                       57.413249
...    ...  ...                             ...
1953  2015  ...                       97.993311
1954  2015  ...                             NaN
1955  2015  ...                       99.444444
1956  2015  ...                       86.746988
1957  2015  ...                             NaN

[1958 rows x 44 columns]

##When you simply type SchoolProfile, every variable and all rows of the school profile appears.

In [0]:
# Let's take a look at the unique values in the GRADES_SERVED column
# Do the results raise any questions for you?
SchoolProfile['GRADES_SERVED'].unique()

array(['--', 'PK-12', 'Grades 9-12', 'Pre-Kindergarten-5', 'Grades 6-8',
       'Kindergarten-12', 'PK-6', 'Kindergarten-6', 'Pre-Kindergarten-6',
       'K-12', 'Kindergarten-4', 'Grades 5-8', 'PreK-3-5', 'PreK-4-5',
       'Kindergarten-5', 'PreK-3-8', 'Grades 3-5', 'Pre-Kindergarten-2',
       'Kindergarten-9', 'Pre-Kindergarten-8', 'Pre-Kindergarten-4',
       'Pre-Kindergarten-3', 'Grades 10-12', 'Grades 4-7', 'Grades 8-9',
       'Kindergarten-3', 'Grades 3-12', 'PreK-4-2', 'Kindergarten-8',
       'Grades 6-12', 'Pre-Kindergarten-Grade N', 'Grades 4-8',
       'PreK-3-3', 'Pre-Kindergarten-12', 'Grades 7-12', 'Kindergarten-2',
       'Grades 3-6', 'PreK-3-4', 'Grades 4- 5', 'PreK-4-6',
       'Pre-Kindergarten-Pre-Kindergarten', 'PreK-4-8', 'PK-8', 'Grade 9',
       'PK-5', 'Grades 1-12', 'Grade 5', 'PreK-4-4', 'Grades 5-12',
       'Grades 11-12', 'Grades 9-11', 'Grades 5-6', 'Kindergarten-1',
       'Grades 2-5', 'PreK-3-1', 'Grades 3-8', 'Pre-Kindergarten-1',
       'Grades 2-6', 'Grades 7-8', 'Grades 9-10', 'Grade 6',
       'Pre-Kindergarten-Kindergarten', 'Grades 1-3', 'K-8', 'Grades 1-5',
       'Grades 2-3', 'PreK-3-6', 'PreK-4-12', 'Grades 4-6', 'Grades 3-4',
       'PreK-3-12', 'PreK-3-2', 'Grades 7-10', 'Grades 1-6', 'Grade 7',
       'Kindergarten-Kindergarten', 'K-5', '-----', 'K-6', 'Grades 5-7'],
      dtype=object)

##These results are interesting because it seems that all grades are represented in the schools. In addition to this, it is interesting that there is a null and confusing values within these grades.

In [0]:
# Let's take a look at the first 10 values in the SCHOOL_NAME column
# Your work here!
SchoolProfile['SCHOOL_NAME'].head(10)

0                                 All Schools
1                                 All Schools
2                 Anderson County High School
3    Anderson County Career  Technical Center
4                    Andersonville Elementary
5                       Briceville Elementary
6                          Claxton Elementary
7                       Clinton Middle School
8                         Clinton High School
9                     Dutch Valley Elementary
Name: SCHOOL_NAME, dtype: object

## What about 'All Schools' in the SCHOOL_NAME column? ... What might that mean?

This may mean that All Schools represents all all the schools in the district.

In [0]:
# Create two separate dataframes
# AllSchoolsProfile includes all rows in which SCHOOL_NAME == 'All Schools'
AllSchoolsProfile = SchoolProfile[SchoolProfile['SCHOOL_NAME']== 'All Schools']


# SchoolsOnlyProfile includes all rows in which SCHOOL_NAME != 'All Schools'
# Your work here!
SchoolOnlyProfile = SchoolProfile[SchoolProfile['SCHOOL_NAME']!='All Schools']

In [0]:
# View the first five rows of AllSchoolProfile
# Your work here!
AllSchoolsProfile.head()

    YEAR  DISTRICT  ... ECONOMICALLY_DISADVANTAGED ECONOMICALLY_DISADVANTAGED_PCT
0   2015         0  ...                   572461.0                      57.901487
1   2015        10  ...                     3890.0                      58.505038
19  2015        11  ...                      591.0                      63.412017
23  2015        12  ...                     2328.0                      52.479711
31  2015        20  ...                     5907.0                      69.855724

[5 rows x 44 columns]

In [0]:
# Determine the number of rows and columns (or shape) of the dataframe
# Your work here!
AllSchoolsProfile.shape

(147, 44)

In [0]:
# List the unique values in the GRADES_SERVED column
# Your work here!
AllSchoolsProfile['GRADES_SERVED'].unique()

array(['--', 'PK-12', 'PK-6', 'K-12', 'PK-8', 'PK-5', 'K-8', 'K-5', 'K-6',
       'Grades 9-12'], dtype=object)

## What do you notice about the 'GRADES_SERVED' values in this new dataframe ... as opposed to the original?

This only uses the unique grades served from the all school profiles and not the general school one so there are different unique school district like the Alvin C York Institute.

In [0]:
# Sort the dataframe by the 'Grades_Served' and list the first 20 rows.
AllSchoolsProfile.sort_values('GRADES_SERVED').head(20)

      YEAR  ...  ECONOMICALLY_DISADVANTAGED_PCT
0     2015  ...                       57.901487
1925  2015  ...                       61.943987
1929  2015  ...                             NaN
1580  2015  ...                       13.878133
1133  2015  ...                       48.543689
691   2015  ...                       81.628392
1748  2015  ...                       66.520176
161   2015  ...                       68.650372
23    2015  ...                       52.479711
1612  2015  ...                       14.688602
1923  2015  ...                       76.923077
759   2015  ...                       63.554046
934   2015  ...                       56.958571
1175  2015  ...                       70.468750
907   2015  ...                       81.273408
1172  2015  ...                       65.279584
1167  2015  ...                       71.704745
1157  2015  ...                       71.542717
1153  2015  ...                       67.934094
1145  2015  ...                       59.121061

[20 rows x 44 columns]

In [0]:
# How about the last 10 rows of this same dataframe? or a sample?
AllSchoolsProfile.sort_values('GRADES_SERVED').tail()

      YEAR  ...  ECONOMICALLY_DISADVANTAGED_PCT
1916  2015  ...                       61.927330
253   2015  ...                       23.604827
1211  2015  ...                       54.545455
240   2015  ...                       57.976654
1089  2015  ...                       79.101684

[5 rows x 44 columns]

## Briefly scan the dataframe above. There are still some decisions to be made. What are the exceptions? What are our options?

## What are the largest School Districts in Tennessee? The smallest?

Answer: The district of the Shelby County is the largest district with a total of 116059. The district of the Carroll County is the smallest district with a total 5.

In [0]:

# Sort the dataframe by 'TOTAL' in descending order. Then list the first 10 rows
AllSchoolsProfile.sort_values('TOTAL', ascending=False).head(10)

      YEAR  ...  ECONOMICALLY_DISADVANTAGED_PCT
0     2015  ...                       57.901487
1358  2015  ...                       79.795077
288   2015  ...                       75.330627
812   2015  ...                       40.015072
611   2015  ...                       60.530648
1252  2015  ...                       39.653773
1843  2015  ...                        9.645498
1094  2015  ...                       49.359975
1681  2015  ...                       36.738438
1894  2015  ...                       29.167155

[10 rows x 44 columns]

In [0]:
# Do your results raise questions?
# Your work here!
AllSchoolsProfile.sort_values('TOTAL',ascending=True).head()

      YEAR  ...  ECONOMICALLY_DISADVANTAGED_PCT
145   2015  ...                       50.000000
1923  2015  ...                       76.923077
1927  2015  ...                       32.857143
1929  2015  ...                             NaN
1036  2015  ...                       58.596491

[5 rows x 44 columns]

These results make me curious about the carroll county school district, does it only techinally have five people in it because of zoning or is it classified as a home school district or some other special district?