<a href="https://colab.research.google.com/github/sisterme3/Data_Science/blob/master/NB4_DigitalReasoningPeople.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Parse Digital Reasoning Personnel Data 
### from LinkedIn.com and 
## Push the Data to a Pandas Dataframe

In [3]:
# Upload the data files from my github repository 
! git clone https://github.com/acreeg/linkedin_data.git

Cloning into 'linkedin_data'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

*   Import the necessary packages
*   Open the html file
*   Turn the html into soup

In [0]:
# We will use pandas and datetime as we progress towards building the dataframe
import pandas as pd
import datetime
today = str(datetime.datetime.now().date())

# We will need requests and BeautifulSoup for scraping and parsing (respectively).
# Actually we will not be scraping LinkedIn so we will not use requests at this time.
import requests 
from bs4 import BeautifulSoup

# Open the file to read the html
html = open('linkedin_data/LinkedInDRDataPeople.html')

# Turn the html into Soup ... an object that can be more easily accessed, read and parsed!
soup = BeautifulSoup(html, 'lxml')

In [5]:
''' 
Note: When we are scraping a web site we would typically use the following format,
to scrape the html from a specific URL (address)

# Scrape (get) the website for which you have interest
response = requests.get('https://www.linkedin.com/path-to-info-of-interest')

# Turn the response into a readable object
html = response.content

# Turn the html into Soup ... an object that can be more easily accessed, read and parsed!
soup = BeautifulSoup(html, 'lxml')

'''

" \nNote: When we are scraping a web site we would typically use the following format,\nto scrape the html from a specific URL (address)\n\n# Scrape (get) the website for which you have interest\nresponse = requests.get('https://www.linkedin.com/path-to-info-of-interest')\n\n# Turn the response into a readable object\nhtml = response.content\n\n# Turn the html into Soup ... an object that can be more easily accessed, read and parsed!\nsoup = BeautifulSoup(html, 'lxml')\n\n"

### Inspect the html to determine the data you will extract.
This should be done in the browser initially, and can then be continued within the notebook as in the code cell below. You may also want to add a few notes.

Notes here:
* employee  
<div class="full_name" id="ember308">
         Christi L. French
<!-- -->
</div>

* company

* location
Franklin, Tennessee

* position

 <div class="position_title" id="ember311" style="-webkit-line-clamp: 2">
         Director, Data Science - Healthcare at Digital Reasoning
         <!-- -->
         </div>

* date
Jan 30, 2020

In [6]:
# Through the inspection above, you should find 
# the primary point of interest in the html

#print(soup.prettify()[:2000])

# print an example so that you can begin to parse the html 
# to find the information of interest
print(soup.find('li',{'class':'professional_person'}).prettify())

#print(soup.find_all('li',{'class':'professional_person'})[0].prettify())

<li class="professional_person">
 <div class="org-people-profile-card ember-view" id="ember299">
  <section class="artdeco-card artdeco-card--with-hover ember-view" id="ember300">
   <!-- -->
   <div class="org-people-profile-card__profile-info">
    <artdeco-entity-lockup class="artdeco-entity-lockup--stacked-center artdeco-entity-lockup--size-5 artdeco-entity-lockup ember-view" id="ember301" size="5" stacked="center">
     <artdeco-entity-lockup-image class="artdeco-entity-lockup__image artdeco-entity-lockup__image--type-circle ember-view" id="ember302" type="circle">
      <a class="ember-view" data-control-name="people_profile_card_image_link" href="/in/christi-l-french-450b2819/" id="ember303">
       <img alt="Christi L.’s profile picture" class="lazy-image loaded ember-view" height="72" id="ember304" src="https://media-exp1.licdn.com/dms/image/C4D03AQFciM_-4VPzQw/profile-displayphoto-shrink_100_100/0?e=1585785600&amp;v=beta&amp;t=VwRVo5mlBQuF0qdoK5OHpPFh5O6fYmC7pOUo8WWniII" width="72"/>
      </a>
     </artdeco-entity-lockup-image>
     <artdeco-entity-lockup-content class="artdeco-entity-lockup__content ember-view" id="ember305">
      <artdeco-entity-lockup-title class="artdeco-entity-lockup__title ember-view" id="ember306">
       <a class="link-without-visited-state ember-view" data-control-name="people_profile_card_name_link" href="/in/christi-l-french-450b2819/" id="ember307">
        <div class="full_name" id="ember308">
         Christi L. French
         <!-- -->
        </div>
       </a>
      </artdeco-entity-lockup-title>
      <artdeco-entity-lockup-badge class="artdeco-entity-lockup__badge ember-view" id="ember309">
       <span class="a11y-text">
        2nd degree connection
       </span>
       <span aria-hidden="true" class="artdeco-entity-lockup__degree">
        · 2nd
       </span>
       <!-- -->
       <!-- -->
      </artdeco-entity-lockup-badge>
      <artdeco-entity-lockup-subtitle class="artdeco-entity-lockup__subtitle ember-view" id="ember310">
       <div class="t-14 t-black--light t-normal">
        <div class="position_title" id="ember311" style="-webkit-line-clamp: 2">
         Director, Data Science - Healthcare at Digital Reasoning
         <!-- -->
        </div>
       </div>
      </artdeco-entity-lockup-subtitle>
      <artdeco-entity-lockup-caption class="artdeco-entity-lockup__caption ember-view" id="ember312">
       <!-- -->
      </artdeco-entity-lockup-caption>
     </artdeco-entity-lockup-content>
    </artdeco-entity-lockup>
    <span>
     <img alt="Paul’s profile picture" class="round-image EntityPhoto-circle-1 v-align-middle lazy-image loaded ember-view" height="72" id="ember313" src="https://media-exp1.licdn.com/dms/image/C4E03AQGJAEzlux4-gQ/profile-displayphoto-shrink_100_100/0?e=1585785600&amp;v=beta&amp;t=wjPibZAztJXl2RGyJXjr_MisCPjKHuvSAp81O4qx2P4" width="72"/>
     <span class="t-12 t-black t-bold">
      20 shared connections
     </span>
    </span>
   </div>
   <footer class="artdeco-card__actions">
    <button class="artdeco-button artdeco-button--3 artdeco-button--fluid artdeco-button--tertiary ember-view" data-control-name="people_profile_card_connect_button" id="ember314">
     <!-- -->
     <span class="artdeco-button__text">
      Connect
     </span>
    </button>
   </footer>
  </section>
 </div>
</li>

### Examine the html tags closely to determine precisely where each piece of data is located.


### employee

### company

### location
 
### position

### date

Not in the website ... must import datetime

### Initialize an empty list 'professionals' to hold your data ... one dictionary (of key/value pairs) per row

In [0]:
professionals = []

### Loop through all of the 'professional_persons' ... and create a complete outline of the data you plan to collect assigning each data element a temporary string until it can be replaced by the actual data. Example: title = 'This is the position title'. End the loop by appending the new row (as a dictionary) to 'professionals'. Finally, once the loop is completed create a dataframe 'DRPeople' from postings.

In [8]:
professionals = []

for persons in soup.find_all('li',{'class':'professional_person'}):
  employee = 'Wonderful Person'
  position = "This is the positions title"
  company = "Great Organization"
  location = "City and State"
  date = today

  professionals.append({'Employee': employee, 'Position': position, 'Company': company, 'Location': location, 'Date': date})

DRPeople = pd.DataFrame(professionals)
DRPeople

             Employee                     Position  ...        Location        Date
0    Wonderful Person  This is the positions title  ...  City and State  2020-02-04
1    Wonderful Person  This is the positions title  ...  City and State  2020-02-04
2    Wonderful Person  This is the positions title  ...  City and State  2020-02-04
3    Wonderful Person  This is the positions title  ...  City and State  2020-02-04
4    Wonderful Person  This is the positions title  ...  City and State  2020-02-04
..                ...                          ...  ...             ...         ...
128  Wonderful Person  This is the positions title  ...  City and State  2020-02-04
129  Wonderful Person  This is the positions title  ...  City and State  2020-02-04
130  Wonderful Person  This is the positions title  ...  City and State  2020-02-04
131  Wonderful Person  This is the positions title  ...  City and State  2020-02-04
132  Wonderful Person  This is the positions title  ...  City and State  2020-02-04

[133 rows x 5 columns]

### One by one, replace the temporary string with the actual data ... and test the output. Be prepared to continue to explore the html, informed by bugs detected when running your code.

In [9]:
professionals = []

for persons in soup.find_all('li',{'class':'professional_person'}):
  employee = 'Wonderful Person'
  position = "This is the positions title"
  company = "Digital Reasoning"
  location = "Nashville, Tennessee"
  date = today

  professionals.append({'Employee': employee, 'Position': position, 'Company': company, 'Location': location, 'Date': date})

DRPeople = pd.DataFrame(professionals)
DRPeople

             Employee  ...        Date
0    Wonderful Person  ...  2020-02-04
1    Wonderful Person  ...  2020-02-04
2    Wonderful Person  ...  2020-02-04
3    Wonderful Person  ...  2020-02-04
4    Wonderful Person  ...  2020-02-04
..                ...  ...         ...
128  Wonderful Person  ...  2020-02-04
129  Wonderful Person  ...  2020-02-04
130  Wonderful Person  ...  2020-02-04
131  Wonderful Person  ...  2020-02-04
132  Wonderful Person  ...  2020-02-04

[133 rows x 5 columns]

In [19]:
professionals = []

for persons in soup.find_all('li',{'class':'professional_person'}):
  employee = persons.find('div',{'class':'full_name'}).next_element.strip()
  position = persons.find('div',{'class':'position_title'}).next_element.strip().split(' at ')[0]
  company = persons.find('div',{'class':'position_title'}).next_element.strip().split(' at ')[-1]
  location = "Nashville, Tennessee"
  date = today

  professionals.append({'Employee': employee, 'Position': position, 'Company': company, 'Location': location, 'Date': date})

DRPeople = pd.DataFrame(professionals)
DRPeople

                        Employee  ...        Date
0              Christi L. French  ...  2020-02-04
1          Last Feremenga, Ph. D  ...  2020-02-04
2                Michael Chapman  ...  2020-02-04
3                   Mitch Naylor  ...  2020-02-04
4                   Nupur Sashti  ...  2020-02-04
..                           ...  ...         ...
128  Victor Gan, TOGAF, RMC, MBA  ...  2020-02-04
129              Gordon Crawford  ...  2020-02-04
130                 Mark Doherty  ...  2020-02-04
131              Sriji Sivadasan  ...  2020-02-04
132                 Naibai Zhang  ...  2020-02-04

[133 rows x 5 columns]